@import "_body.scss";
@import "_conteiner.scss";
@import "_header.scss";
@import "_nav.scss";
@import "_section.scss";
@import "_aside.scss";
@import "_footer.scss";
@import "_nosotros.scss";
@import "_contacto.scss";
@import "_productos.scss";
@import "_ofertas.scss";


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: auto;
    height: auto;
}

html{
    height: 100%;
}

body{
    min-height: 100% ;
    text-align: center;
}

.conteiner__ {
    display: grid;
    margin: 0;
    width: auto;
    grid-template-columns: 1fr;
    grid-template-rows: 6fr;
    grid-template-areas: 

    "logo" "header" "nav" "section" "aside" "footer" ;

    
    /* "header header header"
    "nav     nav    nav"
    "section section section"
    "aside    aside   aside"
    "footer  footer   footer" ; */

}


/* empieza header*/


.header-content1 {
    grid-area: header;
    width: auto;
    height: 300px;
   display: flex;
   justify-content:space-between;
}


.logo-header {
    width: 300px;

}

.title-header{
    padding-top: 135px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 50px;
    
}

.animate__animated {
    padding-top: 110px;
    font-size: 90px;
}

.search-header {
    width: 150px;
    height: 30px;
    margin: 160px;
    margin-right: 100px;
    padding-left: 51px;
    border: 1px solid ;
    border-radius: 15px;
}

.user-header{
    width: 35px;
    height: 25px;
    padding-right: 10px;
    margin-top: 162px;
    
}

.carrito-header{
    width: 25px;
    height: 25px;
    padding-right: auto;
    margin-top: 160px;
    margin-right: 125px;
}




/* termina header*/




/* empieza nav*/


.flex-nav {
    grid-area: nav;
    width: auto;
    /* height: 150px; */

}

.lista-nav{
    display: flex;
    width: auto;
    height: 75px;
    align-items: center;
    flex-direction: row;
    font-family: fantasy;
    justify-content: space-evenly;


                         /*----gradiente----*/

    background: rgb(212,228,239); 
    background: -moz-linear-gradient(top,  rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(212,228,239,1) 0%,rgba(134,174,204,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(212,228,239,1) 0%,rgba(134,174,204,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4e4ef', endColorstr='#86aecc',GradientType=0 ); /* IE6-9 */

}

.li-nav{
    width: 95px;
    height: 27px;
    font-size: 19px;
    font-family: fantasy;
    list-style: none;
    align-content: center;
    border-radius: 15px;
    color: black;
}


.li-nav:hover{
    background-color: white;
}

.direccion__ {
    text-decoration: none;
    color: black;
}




/* termina nav*/



/* empieza section*/

section{
    height: auto;
}

.content__{
    grid-area: section;
}

section .content__ .title-article {
    display: grid;
}

section .content__ .img-article1 {
    width: 1220px;
    height: 350px;
}

section .content__ .img-article2 {
    width: 1220px;
    height: 350px;
}

section .content__ .img-article3 {
    width: 1220px;
    height: 350px;
}



/* termina section*/


/* empieza aside*/


.aside__ {
    grid-area: aside;
    height: 350px;
}

.publicidad_ {
    width: 1220px;
    height: auto;
}


/* termina aside*/


/* empieza footer*/

.footer__{
    grid-area: aside;
    display: flex;
    width: auto;
    height: 200px;
    align-items: center;
    justify-content: space-evenly;
    background: beige;


                    /*----gradiente----*/
    
    background: rgb(254,255,255); 
    background: -moz-linear-gradient(top,  rgba(254,255,255,1) 0%, rgba(210,235,249,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(254,255,255,1) 0%,rgba(210,235,249,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(254,255,255,1) 0%,rgba(210,235,249,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#d2ebf9',GradientType=0 ); /* IE6-9 */

}

.footer-title{
    height: 30px;
    border: 15px;
    font-family:fantasy;

}

.list-footer{
    display: flex;
    list-style: none;
    justify-content: space-around;
    padding: 50px;
    font-family: fantasy;
}

.li-foo{
    margin: 20px;
}


/* termina footer*/


/*empieza acercadenosotros*/

.nosotros__{
    grid-template-areas: section;
    display: flex ;
    flex-direction: column;
    gap: 30px;
    background: silver;
    
}

.title_nosotros{
    font-size: 30px;
    margin: 40px;
}

.div_1{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 40px;

}

.div_2{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 40px;
}

.div_3{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 40px;
}



/* Pag "contacto" */


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*section*/


.content_form{
    grid-template-areas: section;
    display: flex;
    width: auto;
    height: 500px;
    padding: 70px;
    background-color:slategrey;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    border: 1px solid black;
    
}

.form_datos{
    width: 400px;
    height: 30px;
    justify-content: center;
    font-size: 21px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

.boton{
    width: 400px;
    height: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px ;
}



/* Pag "Productos" */

.content_productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card_ {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 15px;
    margin: 15px;
    width: 500px;
    height: auto;
    border: 1px solid black;
    background-color: black ;
    color: white;
}

.card_img{
    display: flex;
    width: 350px;
    height: 250px;
    border: 1px solid black;
}

.card-title{
    font-size: 35px;
    margin: 5px;
}

.card-text{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



/* Pag "Ofertas" */


.Content_ofertas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.Sub_content {
    display: flex;
    width: 1200px ;
    height: auto;
    justify-content: center;
    padding-left: 130px;

}

.Sub_content:hover{
    color: red;
}

.title_ofertas{
    font-size: 30px;
    font-family: fantasy;
    margin: 40px;

    
}


@media only screen and (max-width:320px) 
    {
    
        *{
            box-sizing: border-box;
            margin: 0;
            padding: 0;
            width: auto;
            height: auto;
        }
        
        html{
            height: 100%;
        }
        
        body{
            min-height: 100% ;
            text-align: center;
        }

    .conteiner__ {
        display: grid;
        margin: 0px ;
        width : 320px ;
        grid-template-columns: 1fr;
        grid-template-rows: 5fr;
        grid-template-areas: 
        
            "header" "nav" "section" "aside" "footer" ;
    }

/* empieza header*/

 header {
    display: flex;
    width: 320px;
 }

 .logo-header {
    width: 320px;
}
 
.title-header{
    display: none;
}

.animate__animated {
   animation: none;
   display: none;
}

.search-header {
    display: none;
}

.user-header{
    display: none;
    
}

.carrito-header{
    display: none;
}

/* termina header*/


/* empieza nav*/


 .flex-nav {
    grid-area: nav;
    width: 320px;
 }

 .lista-nav{
     width: 320px;
    height: 100%;
    flex-direction:column;
    background-color: beige;
    align-items:center;
    padding: 17px;
    font-family: fantasy;

 }

 .li-nav{
    width: auto;
    height: 25px;
    font-family: fantasy;
}

/* termina nav*/

/* empieza section*/

.content__{
    width: 320px;
}

 section .content__ .img-article1 {
    width: 320px;
}

section .content__ .img-article2 {
    width: 320px;
}

section .content__ .img-article3 {
    width: 320px;
}

aside .aside__ {
    display: none;
} 

/* termina section*/


/* empieza footer*/


.footer__{
    display: flex;
    width: 320px;
    height: auto;
    background: beige;
    justify-content: center;
}

.list-footer{
    display: flex;
    list-style: none;
    flex-direction: column;
    font-family: fantasy;
}

/* termina footer*/



/* contacto media queries*/ 

/* Pag "contacto" */


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*section*/


.content_form{
    grid-template-areas: section;
    display: flex;
    width: 320px;
    height: 100%;
    padding: 70px;
    background-color:slategrey;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    border: 1px solid black;
    
}

.form_datos{
    width: 190px;
    height: 30px;
    justify-content: center;
    font-size: 15px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

.boton{
    width: 190px;
    height: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px ;
}


/* Pag "Ofertas" */


.Content_ofertas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.Sub_content {
    display: flex;
    width: 200px ;
    height: auto;
}

.title_ofertas{
    font-size: 25px;
    font-family: fantasy;
    margin: 40px;
    
}


}   



